body{
    margin: 0;
}
.container{
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    border: 40px solid rgb(0, 0, 0);
    overflow: auto;
}
.box{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 5em;
    width: 500px;
    height: 250px;
    text-align: center;
    border: 25px solid rgb(245, 190, 11);
}
#box1{
    background-color: rgb(175, 22, 22);
    margin-top: 40px;
}
#box2{
    background-color: rgb(14, 18, 215);
}
#box3{
    background-color: rgb(22, 175, 40);
}
#box4{
    background-color: rgb(177, 14, 142);
    margin-bottom: 40px;
}